<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hola, <%= @user.email %></h1>
    <p>
      Cambiaste tu constraseña exitosamente!
    </p>
    <p>
      Para revisar tu cuenta y tu saldo, ingresa al siguiente link: <%= @url %>.
    </p>
    <p>¡Que tengas un buen día!</p>
    <p>Equipo Bitsplit</p>
  </body>
</html>
