<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hola, <%= @user.email %></h1>
    <p>
      <%= @sender.email %> te ha transferido dinero.
    </p>
    <p>
      Eres <%= @amount %> bitcoins más rico!
    </p>
    <p>
      Para revisar tu billetera ingresa al sitio: <%= @url %>.
    </p>
    <p>¡Que tengas un buen día!</p>
    <p>Equipo Bitsplit</p>
  </body>
</html>
