<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Has recibido un nuevo pago, <%= @user.email %></h1>
    <p>
      Eres <%= @amount %> bitcoins más rico!
    </p>
    <p>
      Para revisar tu billetera ingresa al sitio: <%= @url %>.
    </p>
    <p>¡Que tengas un buen día!</p>
  </body>
</html>
