<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Al parecer olvidaste tu contraseña, <%= @user.email %></h1>
    <p>
      No hay problema, todo tiene solución!
    </p>
    <p>
      Para recuperar tu contraseña ingresa al siguente link: <%= @url %>.
    </p>
    <p>¡Que tengas un buen día!</p>
  </body>
</html>
