<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Bienvenido a Bitsplit, <%= @user.email %></h1>
    <p>
      Te has registrado en bitsplit.app,
    </p>
    <p>
      Para ingresar, sigue el siguiente link: <%= @url %>.
    </p>
    <p>¡Que tengas un buen día!</p>
    <p>Equipo Bitsplit</p>
  </body>
</html>
