@import 'tailwindcss/base';
@import 'tailwindcss/components';
@media (min-width: 640px) {
  table {
    display: inline-table !important;
  }

  thead tr:not(:first-child) {
    display: none;
  }
}

td:not(:last-child) {
  border-bottom: 0;
}

th:not(:last-child) {
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}

.btn {
  height: 48px;
  background: #fff;
  border: 2px solid #000000;
  box-sizing: border-box;
  border-radius: 6px;
  font-family: monospace;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  letter-spacing: 0.4px;
  text-transform: uppercase;
}

.btn:hover {
  background: #3f2eac;
  border-radius: 6px;
  font-family: monospace;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 32px;

  text-align: center;
  letter-spacing: 0.4px;
  text-transform: uppercase;

  color: #fff;
}

.btn-secondary {
  height: 34px;
  background: #fff;
  border: 2px solid #e21313;
  box-sizing: border-box;
  border-radius: 6px;
  font-family: monospace;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 32px;
  text-align: center;
  letter-spacing: 0.2px;
  text-transform: uppercase;
}
.btn-secondary:hover {

  height: 34px;
  background: #e21313;
  border: 2px solid #e21313;
  box-sizing: border-box;
  border-radius: 6px;
  font-family: monospace;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 32px;
  text-align: center;
  letter-spacing: 0.2px;
  text-transform: uppercase;

  color: #fff;
}

.txt-input {
  height: 48px;
  background: #eeedfb;
  border-radius: 4px;
  font-family: monospace;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #6b6b6b;
}

.txt-input:hover {
  background: #fff;
  border: 2px solid #8070e3;
  box-sizing: border-box;
  box-shadow: inset 0px 0px 6px rgba(128, 112, 227, 0.12);
  border-radius: 4px;

  color: #000000;
}
.txt-input:focus {
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.2px;

  color: #000000;
}

.txt-field {
  font-family: monospace;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #6b6b6b;
}

.txt-card {
  font-family: monospace;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #000000;
}

.right-icon {
  position: absolute;
  right: 16%;
  bottom: 37%;
}

@import 'tailwindcss/utilities';
